version: 2.1

orbs:
  architect: giantswarm/architect@6.14.1

workflows:
  test:
    jobs:
      - architect/go-build:
          context: architect
          name: go-build
          binary: klausctl
          filters:
            tags:
              only: /^v.*/
